<!DOCTYPE html>
<html>
<head>
    <title>Contact Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    
</head>
<body>
    <section class="contact">
    <h1>Contact Me</h1>
    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>
        
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>
        
        <label>Message:</label><br>
        <textarea name="message" required></textarea><br><br>
        
        <button type="submit">Send</button>
    </form>
    <br>
    <a href="/">⬅ Back to Home</a>
    </section>
</body>
</html>
