<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to My Portfolio</h1>
        <p>Hi, I am <b>Bhumika Chitte</b> — Computer Engineering Student | Software Developer</p>
        <nav>
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <section class="hero">
        <section class="about-me">
        <h2>About Me</h2>
        <p>I'm a passionate developer with a strong interest in Programming and web development. I enjoy creating interactive and dynamic web applications that provide a great user experience. I also have a good understanding of AI and Machine Learning.</p>
    </section>

    <section class="skills">
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>HTML/CSS/JavaScript</li>
            <li>Machine Learning</li>
            <li>Data Analysis</li>
            <li>Java</li>
        </ul>
    </section>
    <section class="education">
        <h2>Education</h2>
        <ul>
            <li>Pursuing Bachelor's in Computer Science </li>
            <li>Completed Diploma in Computer Engineering with 88%</li>
            <li>Completed SSC with 95.60%</li>
        </ul>
    </section>
    <section class="projects">
        <h2>Projects</h2>
        <ul>
            <li> Project 1: Algorithm Visualizer</li>
            <li> Project 2: Stock Market Trend AI</li>
            <li> Project 3: AgriVision AI</li>
            <li> Project 4: Sentiment Analysis Tool</li>
            <li> Project 5: Gunshot Direction Detection</li>
        </ul>
    </section>
    </section>

    <footer>
        <p>Connect with me on - 
            <a href="https://www.linkedin.com/in/yourprofile" target="_blank">LinkedIn</a> ||
            <a href="https://github.com/yourprofile" target="_blank">GitHub</a>
        </p>
    </footer>
</body>
</html>
